* {
    border: 1px solid black;
}

body {
    background-color: slategrey;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
    overflow: auto;                                                                                                                                                                                             
}

header, nav, section, aside, footer, article, div, p {
    padding: 40px;
    background-color: #eeeeee;
    text-align: center;
    margin: 15px;
}

#article {
    background-color: slategrey;
}

div {
    background-color: #eeeeee;
}

section {
    float: left;
}


