/** {
    border: 1px solid black;
}*/

body {
    background-color: slategrey;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
}

header, nav, section, aside, footer, article, p {
    padding: 40px;
    background-color: #eeeeee;
    text-align: center;
    margin: 15px;
}

#article {
    background-color: slategrey;
    padding: 10px;
}

.shared {
    overflow: auto;
}

div {
    background-color: slategrey;
}

section {
    float: left;
    width: 50%;
}

aside {
    min-height: 315px;
}

footer {
    clear: both;
}